// Button Styles
.btn {
  padding: 0.6rem 1.2rem;
  margin: 1rem 0.5rem;
  color: #fff;
  background: rgb(198, 101, 68);
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 100;
  letter-spacing: 0.04rem;
  // font-family: $font-family;

  cursor: pointer;
  border: 1px solid rgb(198, 101, 68);
  a {
    color: #fff;
    font-weight: 700;
    &:hover {
      color: rgb(198, 101, 68);
    }
  }
  &:hover {
    a {
      color: rgb(198, 101, 68);
    }
    background: white;
    border: 1px solid rgb(198, 101, 68);
  }
}
.btn-primary {
  border: 1px solid $textHeading;
  color: $textHeading;
}

// Forms
.form-control {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #fff;
  color: $textLight;
  &::placeholder {
    color: $textLight;
    font-size: 0.9rem;
  }
}

// Hedings
.heading {
  font-size: 1.8rem;
  font-weight: 300;
}
.sub-heading {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.8rem;
  letter-spacing: 0.05rem;
}

// Text
.main-text {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}

// Blockqoute

.blockqoute {
  text-align: center;
  padding-bottom: 1rem;
  font-style: italic;
  color: black;
}
