// Header

.heading{
    padding: 5rem;
    padding-left:12rem;
    padding-right: 0;
    color: $textHeading;
    font-family: $font-family;
    h1{
        font-size: 6.5rem;
    }
    h3{
        font-size: 2.5rem;
        line-height: 0;
    }
}
.grid-col2{
    grid-gap: 0;
}
.heading-img{
    img{
        width: 100%;
        height: 100%;
    }
}
.sub-header{
    background: $textHeading;
    padding: 0.5rem 0.8rem;
}
.sub-header-main{
    border-radius: 2rem; 
    background: $textLight;
    padding: 2rem;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a{
        color: $textHeading;
        font-weight: 700;
    }
}
.sub-head-text{
    margin: 0 2rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
    padding: 0 4rem;
    color: $textHeading;
    font-family: $font-family;
    h2{
        padding-right: 3rem;
        padding-left: 9rem;
    }
    p{
        padding-right: 3rem;
        padding-left: 9rem; 
        margin-top: 2rem;
    }
    button{
        margin-right: 3rem;
        margin-left: 9rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-weight: 700;
    }
}
.image-sub-head{
    img{
        width: 100%;
        height: 100%;
    }
}
.section-main{
    background: $textHeading;
    margin-top: 0rem;
    padding: 2rem 8rem;
    h2{
    text-align: center;
    font-family: $font-family;
    } 
    img{
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }
    p{
        padding: 1.5rem 0.5rem;
        font-weight: 400;
        line-height: 1.5;
        word-spacing: 0.1rem;
        color: $textLight;
        font-family: 'Poppins', sans-serif;
    }
}

// responsive 

@media all and (max-width:768px){
    .grid-col2{
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0 auto;
    }
    .heading-img{
        display: none;
    }
    .main-heading{
        background-image: url(../img/1.jpg);
        width: 100%;
        background-repeat: no-repeat;
    }
    .heading{
        padding: 3rem 1.5rem;
    }
    .sub-header{
        width: 100%;
        margin: 0 auto;
    }
    .sub-header-main{
        width: 100%;
        margin: 0 auto;
    }
    .sub-head-text{
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        p{
            padding: 0 1rem;
        }
        h2{
            padding: 1rem;
        }
        button{
            margin: 1rem auto;
        }
    }
    .image-sub-head{
        width: 100%;
    }
    .section-main{
        padding: 1rem;
        width: 100%;
        p{
            width: 100%;
        }
    }
}